#Intellij specific #
*.iml

.idea/

#Eclipse specific #
.classpath
.project
.settings/


# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.class

target/

*.jar
*.war
*.ear